/* global css  */

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: rgb(247,247,247);
}

.container{
    width: 1170px;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
}



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* global css end */

/* shared */
.flex{
    display: flex;
}

.btn-primary{
    padding: 10px 47px;
    background-color:  rgba(17, 17, 17, 1);
    color: white;   
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;

}

.color-1{
    color: rgba(17, 17, 17, 1);
}
.color-2{
    color: #FEA301;
}

.color-3{
    color: #01ACFD;
}

/* shared end*/
/* header section code start */

.nav-section{
    align-items: center;
    padding: 20px 0px;
    



}

.logo{
    width: 30%;
    align-items: center;

}
.logo-heading{
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
}


.nav-bar{
    width: 40%;
    align-items: center;
    text-transform: capitalize;
    

}
.nav-link-1{
    color: #FEA301;
}
.nav-link-2{
    color: #01ACFD;
}
.nav-link-3{
    color: #05D4DF;
}
.nav-link-4{
    color: #5D58EF;
}

.nav-item{
    list-style-type: none;
}
.nav-link{
    padding-left: 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    
}

.nav-btn{
    width: 30%;
    
    

}
.nav-btn a{
    float: right;
    text-decoration: none;
    background-color: rgba(254, 163, 1, 1);
    padding: 10px 60px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;

}

.check-btn{
    display: none;
}
/* header section code end */

.banner-section{
    margin: 50px 0px;

}

.banner-container{
    justify-content: space-between;
    align-items: center;
    

}
.banner-content{
    width: 640px;

}

.text-title{
    font-size: 3.4rem;

}

.text-description{
    font-size: 1.1rem;
    color: #111111;
    padding: 24px 0px;

}

.banner-btn{
   margin-top: 20px;
}

.banner-column-2{

}

.banner-images{
    
}
.banner-images img{

}

/* mobile device */

@media screen and (max-width: 576px) {

    .container{
        width: 100%;
        margin: auto;
    }
    .nav-section{
        padding: 20px 10px;
        border-bottom: 1px solid #FEA301;
    }
    .logo{
        width: 90%;
    }
    .logo h2{
        display: none;
        
    }
  
    #nav-bar, .nav-btn{
        display: none;
    }

    .check-btn{
        width: 10%;
        display: block;
        font-size: 30px;
        float: right;
        
    }
    /* banner style */
    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-content{
        width: 300px;
        margin: auto;
        text-align: center;
        padding: 20px 0px;
    }

    .text-title{
        font-size: 30px;
        font-weight: bold;
    }

    .banner-images{
        width: 90%;
        margin: auto;

    }

    .banner-images img{
        width: 100%;
    }
    
}